* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-funcionarios {
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 1px 1px 1px #000;
    width: max-content;
    padding: 8px 16px;
}

#funcionario {
    display: flex;
    margin: auto;
} 

#sec-cad {
    width: fit-content;
}

#container{
    display: flex;
    flex-direction: column;
    border-color: #000;
    width: 300px;
}

